<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level: %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <File name="RequestFileAppender" fileName="src/main/java/logs/requests.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level: %msg%n</Pattern>
            </PatternLayout>
        </File>

        <File name="StackFileAppender" fileName="src/main/java/logs/stack.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %level: %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="request-logger" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RequestFileAppender" />
        </Logger>

        <Logger name="stack-logger" level="INFO" additivity="false">
            <AppenderRef ref="stackFileAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>